---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Challenge from '../components/Challenge.astro';
import AIPowered from '../components/AIPowered.astro';
import WhyHelm from '../components/WhyHelm.astro';
import ProductExperience from '../components/ProductExperience.astro';
import MarketOpportunity from '../components/MarketOpportunity.astro';
import CompetitorAnalysis from '../components/CompetitorAnalysis.astro';
import Founders from '../components/Founders.astro';
import OperatingTeam from '../components/OperatingTeam.astro';
import RevenueStreams from '../components/RevenueStreams.astro';
import Economics from '../components/Economics.astro';
import SubscriptionEconomics from '../components/SubscriptionEconomics.astro';
import EventScenarios from '../components/EventScenarios.astro';
import GoToMarket from '../components/GoToMarket.astro';
import Roadmap from '../components/Roadmap.astro';
import UseOfFunds from '../components/UseOfFunds.astro';
import Video from '../components/Video.astro';
import ThankYou from '../components/ThankYou.astro';
import DeckNav from '../components/DeckNav.astro';
---

<Layout>
  <Header />
  <main id="deck" class="deck-container">
    <div class="deck-slide" id="slide-0" data-label="HELM"><Hero /></div>
    <div class="deck-slide" id="slide-1" data-label="Challenge"><Challenge /></div>
    <div class="deck-slide" id="slide-2" data-label="Solution"><AIPowered /></div>
    <div class="deck-slide" id="slide-3" data-label="Why HELM"><WhyHelm /></div>
    <div class="deck-slide" id="slide-4" data-label="Product"><ProductExperience /></div>
    <div class="deck-slide" id="slide-5" data-label="Market"><MarketOpportunity /></div>
    <div class="deck-slide" id="slide-6" data-label="Competitors"><CompetitorAnalysis /></div>
    <div class="deck-slide" id="slide-7" data-label="Founders"><Founders /></div>
    <div class="deck-slide" id="slide-8" data-label="Team"><OperatingTeam /></div>
    <div class="deck-slide" id="slide-9" data-label="Revenue"><RevenueStreams /></div>
    <div class="deck-slide" id="slide-10" data-label="Growth Model"><Economics /></div>
    <div class="deck-slide" id="slide-11" data-label="Subscriptions"><SubscriptionEconomics /></div>
    <div class="deck-slide" id="slide-12" data-label="Events"><EventScenarios /></div>
    <div class="deck-slide" id="slide-13" data-label="GTM"><GoToMarket /></div>
    <div class="deck-slide" id="slide-14" data-label="Roadmap"><Roadmap /></div>
    <div class="deck-slide" id="slide-15" data-label="Funds"><UseOfFunds /></div>
    <div class="deck-slide" id="slide-16" data-label="Video"><Video /></div>
    <div class="deck-slide" id="slide-17" data-label="Thank You"><ThankYou /></div>
  </main>
  <DeckNav />
</Layout>
