<section class="py-28 px-4 sm:px-6">
  <div class="max-w-5xl mx-auto fade-up">
    <div class="relative rounded-3xl overflow-hidden shadow-2xl aspect-video">
      <iframe
        src="https://www.youtube.com/embed/TwnQyrPAjdw"
        title="HELM Video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="w-full h-full"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
